# Discord Bot Token
DISCORD_TOKEN=

# SQLite database file
DATABASE_PATH=./db/quoter.sqlite

# [Optional] IDs of users that should bypass cooldowns. Seperate multiple IDs with a space.
DISCORD_ADMIN_ID=

# [Optional] ID of guild to deploy commands to in development.
DISCORD_GUILD_ID=

# [Optional] Maximum quotes per guild. Can be changed per guild by setting maxGuildQuotes in the database.
MAX_GUILD_QUOTES=500

# [Optional] Maximum characters per quote. Can be changed per guild by setting maxQuoteLength in the database.
MAX_QUOTE_LENGTH=250

# [Optional] Days to retain data after Quoter last sees a guild.
GUILD_RETENTION_DAYS=30

# Set by release builds. Local development uses "development".
BUILD_SHA=development
