# Environment variables
.env

# Dependencies
node_modules/
dist/

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Local database files
/db/
*.sqlite
*.sqlite-shm
*.sqlite-wal
