{
	"token": "TOKEN",
	"mongoPath": "mongodb://127.0.0.1:27017/quoter",
	"maxGuildQuotes": 75,
	"maxQuoteLength": 130,
	"admins": [],
	"disabledCommands": [],
	"blockedGuilds": [],
	"blockedUsers": [],
	"guildId": "GUILD_ID"
}
