{
	"token": "TOKEN",
	"defaultPrefix": ".",
	"mongoPath": "mongodb://127.0.0.1:27017",
	"admins": [
		"USER-ID"
	],
	"upvoteChance": 1,
	"maxGuildQuotes": 75,
	"maxQuoteLength": 130,
	"disabledCommands": []
}
