[Unit]
Description=Run the daily Quoter backup

[Timer]
OnCalendar=*-*-* 04:00:00 UTC
RandomizedDelaySec=15min
Persistent=true

[Install]
WantedBy=timers.target
