/* eslint-disable */
const Discord = require("discord.js");
const db = require("quick.db");

const config = require("../config.json");

module.exports = {
	enabled: true,
	hidden: false,
	name: "command",
	description: "description",
	usage: "<Required> [Optional]",
	example: "",
	aliases: [],
	cooldown: 3,
	args: false,
	guildOnly: false,
	supportGuildOnly: false,
	async execute(message, args) {
		// Code here
	},
};
